.Side-bar
  .Side-bar__header
    .Side-bar__textbox
      %h3.Side-bar__useruame  
      %ul.Side-bar__iconlist  
        %li.Side-bar__iconlist__new-group
          = link_to "#" do
            = icon('far', 'edit', class: 'icon')
        %li.Side-bar__iconlist__edit-user
          = link_to "#" do
            = icon('fas', 'cog', class: 'usericon')
  .Sede-bar__list
    .Group
      %p.Group-name  techcamp
      %p.Group-messages  まだメッセージはありません

    .Group
      %p.Group-name  techcamp
      %p.Group-messages  まだメッセージはありません